  <div class="container">
    <div class="section">
      <img class="todo-logo" src="/gid logo.png"></img>
      <br>
      <p class="center">Get-It-Done To Do lists is an online application that is designed to help our users stay organized, improve their memory, increase their productivity, & increasing their motivation. The features of this applciation include user ability to enter their tasks that is needed to be completed by entering fields like Task Name, Category, Due Date, Description, etc. Through our simple design, we are hoping to please our user and benefit them in their everyday tasks. </p>
      <br>
    </div>
 </div>
<br><br>
  <div class="services blue row"> 
       <div class="container about-margin center">
        <div class="about-text col s12 m6 white-text">
          <h3 class="white-text">About Us!</h3>
          <p class="white-text">We are a team of Rutgers college students working on this project like it's our full time job. With this project we are hoping to provide you guys with an simple way of listing thinks you would like to complete in order to help you stay organized!</p>
          <br><br>
        </div>
        <div class="about-img col s12 m6">
          <img src="div.png">
        </div>
       </div>   
    </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <h4 style="color:#0089c2;" class="center">Get-It-Done</h4>
      <h3 style="color:#0089c2;" class="center">Development Team:</h3>
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <img src="/vlad.png" class="about-img"></img>
            <h5 class="center">Vlad Dokhvat</h5>
            <h6 class="center">Team Role: Back-End Developer</h6>

            <p class="light">Vlad is a senior at Rutgers University studing Information Technology and Informatics with a minor in Digital Communication Information and Media. He has a love/hate relationship with coding. He's currently employed at Choose New Jersey as a Web Developer & loves his job lmao. </p>
            <h6 class="center">Connect w/ me on linked in:</h6>
            <span><h5 class="center"><a href="https://www.linkedin.com/in/vladyslav-dokhvat/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true">  /in/vladyslav-dokhvat</i></a></h5></span>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <img src="/ryan.png" class="about-img"></img>
            <h5 class="center">Ryan Roberts</h5>
            <h6 class="center">Team Role: Back-End Developer</h6>

            <p class="light">Ryan is a senior at Rutgers University studing Information Technology and Informatics. Ryan has years worth of experiance working in the IT field. He decided to come back to Rutgers University to get the piece of paper that will make him more paper $$$$ #dab </p>
            <h6 class="center">Connect w/ me on linked in:</h6>
            <span><h5 class="center"><a href="https://www.linkedin.com/in/ryandroberts/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true">  /in/ryandroberts</i></a></h5></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <img src="/charly.png" class="about-img"></img>
            <h5 class="center">Charly Makon</h5>
            <h6 class="center">Team Role: Front-End Developer</h6>

            <p class="light">Charly is a senior at Rutgers University studing Information Technology and Informatics with a minor in swag. Upon graduation this May, Charly is planning to find a position as either Web Developer or Java Developer in NYC!</p>
            <h6 class="center">Connect w/ me on linked in:</h6>
            <span><h5 class="center"><a href="#" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true">  /in/charly-makon</i></a></h5></span>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <img src="/jon.png" class="about-img"></img>
            <h5 class="center">Jonathan Nastashkin</h5>
            <h6 class="center">Team Role: UI/UX Developer</h6>

            <p class="light">Jon is a senior at Rutgers University studing Information Technology and Informatics. He plays hockey for Rutgers University. Currently He is an employee of Apple and loves his job!</p>
            <h6 class="center">Connect w/ me on linked in:</h6>
            <span><h5 class="center"><a href="https://www.linkedin.com/in/jonathan-nastashkin-9b200311a/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true">  /in/jonathan-nastashkin</i></a></h5></span>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <img src="/frank.png" class="about-img"></img>
            <h5 class="center">Frank McGuire</h5>
            <h6 class="center">Team Role: Team Leader & Manager</h6>

            <p class="light">Frank "The Tank" is a senior at Rutgers University studing Information Technology and Informatics with a minor in economics. His dream career posision is working as an IT Manager or a tech firm! </p>
            <h6 class="center">Connect w/ me on linked in:</h6>
            <span><h5 class="center"><a href="https://www.linkedin.com/in/frankmcguire5/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true">  /in/frankmcguire5</i></a></h5></span>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>