 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <img class="todo-logo" src="/gid logo.png"></img>
      <div class="row center">
        <br>
        <h5 class="header col s12 light">Simply fill in the forms below to add items to your to do list!</h5>
      </div>
    </div>

      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <!--<div class="container">-->
            <br>
            <br>
      <h4 class="center" style="white-text">Why utilize our application?</h4>

      <div class="row home-banner-imgs" style="padding-top:50px; padding-bottom:50px;">
        <div class="col s12 m3">
          <div class="icon-block">
            <img src="/organized.png" class="home-banner-img"></img>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <img src="/memory.png" class="home-banner-img"></img>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <img src="/productive.png" class="home-banner-img"></img>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="icon-block">
            <img src="/motivation.png" class="home-banner-img"></img>
          </div>
        </div>
      </div>

      <div class="home-banner-list" style="padding-bottom:30px;">
       <span><h3 class="center white-text"><i class="fa fa-check" aria-hidden="true">Stay Organized</i></h3></span>
        <span><h3 class="center white-text"><i class="fa fa-check" aria-hidden="true">Improve Memory</i></h3></span>
         <span><h3 class="center white-text"><i class="fa fa-check" aria-hidden="true">Increase Productivity</i></h3></span>
          <span><h3 class="center white-text"><i class="fa fa-check" aria-hidden="true">Increase Motivation</i></h3></span>
     </div>
            <br><br>

          <!--</div>-->
        </div>
        <div class="parallax"><img src="/dig banner.png" alt="Silicon Bat Web Design code and bats"></div>
      </div>
      <br><br>
    <div class="container">
      <div class="center col l6 s12">
        <a href="#newTodo" id="download-button" class="btn-large waves-effect waves-light blue">Add New To-Do Tast</a>
        
      </div>
      <br>
      <div class="center col l6 s12">
        <a href="#list" id="download-button" class="btn-large waves-effect waves-light blue">View To-Do List</a>
      </div>
      <br><br>

      <div id="newTodo" class="newTodo">
        <h4 class="center" style="color:#0089c2; padding-bottom:30px;"> Add new item to your To Do List!</h4>
        <form id="add-new-task">
            <label for="new-task-name" placeholder="Task Name...">Name:</label>
            <input id="new-task-name" name="new-task-name" type="text" required>
            <label for="new-task-date">Date:</label>
            <input id="new-task-date" name="new-task-date" type="datetime" required>                    
            <br/>
            <label for="new-task-priority">Priority:</label>
            <input id="new-task-priority" name="new-task-priority" type="number" required min="1" max="5" step="1" value="2">
            <label for="new-task-color">Color:</label>
            <input id="new-task-color" name="new-task-color" type="color">
            <br/>
            <label for="new-task-desc">Description:</label>
            <input id="new-task-desc" name="new-task-desc" type="text">
            <br/>
            <label for="new-task-email">Invite:</label>
            <input id="new-task-email" name="new-task-email" type="email" multiple>
            <br />
            <input type="submit" value="Add new">
        </form>

      </div> 

      <div id="list" class="list">
        <h4 class="center" style="color:#0089c2; padding-top:30px;">Tour To Do List!</h4>
          <table id="to-do-list">
              <caption style="padding-bottom:20px;">The table below contains all of the tasks that you need to complete!</caption>
              <colgroup>
                  <col />
                  <col />
                  <col />
                  <col />
                  <col />
                  <col />
              </colgroup>
              <thead>
                  <tr>
                      <th scope="col"></th>
                      <th scope="col">Date</th>
                      <th scope="col">Priority</th>                            
                      <th scope="col">Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Invitees</th>
                  </tr>
              </thead>
              <tbody>                        
              </tbody>
          </table>

      </div> 

    </div>
  </div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script type="text/javascript"> 
    
    jQuery(document).on('ready', function() {
      jQuery('form#add-new-task').bind('submit', function(event){
        event.preventDefault();

        var tbody = jQuery('#to-do-list > tbody');
        
        tbody.append('<tr><th scope="row" style="background-color:' + this['new-task-color'].value + 
          '"><input type="checkbox" /></th><td>' + this['new-task-date'].value +
          '</td><td>' + this['new-task-priority'].value + '</td><td>' + this['new-task-name'].value + 
          '</td><td>' + this['new-task-desc'].value + '</td><td>' + this['new-task-email'].value + '</td></tr>');       
        
        return true;
      });
    });
  </script> 



    </div>
    <br><br>
  </div>