  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <img class="index-banner-logo" src="logo-white.png">
        <!--h1 class="header center coral-text text-lighten-2">Silicon Bat</h1-->
        <div class="row center">
          <h5 class="header col s12 light">A company specializing in web developing, digital marketing, and branding.</h5>
        </div>
        <div class="row center">
          <a href="services" id="download-button" class="btn-large waves-effect waves-light salmon lighten-1">See What We Offer</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/banner3.png" alt="Silicon Bat Web Design code and bats"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">brush</i></h2>
            <h5 class="center">Build Your Brand</h5>

            <p class="light">Here at Silicon Bat we work head to head with our customers to help them build their buisness in anyway possible. We offer graphic design services to create a company logo, business cards, banners, etc.</p>
          </div>
          <div class="row center">
            <!--a href="#" id="download-button" class="btn-large waves-effect waves-light salmon lighten-1">Learn More</a-->
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">code</i></h2>
            <h5 class="center">Web Development</h5>

            <p class="light">From simple one-pagers to complex web applications, we offer development of beautiful, responsive, websites to suit your needs. Powered by the most reliable hosting services which promise nearly 100% uptime.  </p>
          </div>
          <div class="row center">
            <!--a href="#" id="download-button" class="btn-large waves-effect waves-light salmon lighten-1">Learn More</a-->
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">trending_up</i></h2>
            <h5 class="center">Digital Marketing</h5>

            <p class="light">A website which isn't optimized properly is as good as no website. Silicon Bat offers full optimization of the website to get it to the top of the search list, as well as other advertisements throughout the web.</p>
          </div>
          <div class="row center">
            <!--a href="#" id="download-button" class="btn-large waves-effect waves-light salmon lighten-1">Learn More</a-->
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div id="index-tellus" class="row center">
          <h5 class="index-header col s12 light">Ready to launch your business to the next level? Contact us now to tell us about yourself and your business!</h5>
          <a href="/contacts/new" id="download-button" class="btn-large waves-effect waves-light salmon lighten-1 index-button-pad">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/banner-tri3.png" alt="Silicon Bat Banner triangle geometric"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Why Choose Silicon Bat?</h4>
          <p class="left-align light">Silicon Bat is a small company with a main purpose to offer service of beautiful, mobile friendly, web pages at a very affordable price tag. We do so by offering a variety of different packages in order for our customers to receive exactly what they need, for the price that's best for them. Besides web development, Silicon Bat offers a variety of graphic design services as well as digital marketing of your business, product, or organization. We work closely with our customers to fully understand their vision. We then turn their vision into powerful web sites for the world to see. We'll help your brand grow from the ground up, or redo your existing web space. Your success is our success. Therefore, you can expect nothing less but the best from Silicon Bat.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div id="index-tellus" class="row center">
          <h5 class="index-header col s12">Subscribe to our free newsletter in order to recieve the best deals and special offers on all of our services!</h5>
          <a href="http://eepurl.com/b8e4fr" id="download-button" class="btn-large waves-effect waves-light salmon lighten-1 index-button-pad">Subscribe</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/banner-last.png" alt="Unsplashed background img 3"></div>
  </div>


  <script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
  </script>
