<!-- row begins -->
    <div class="services dark-purple row"> 
      <div class="container">
        <h5 class="pricing-header white-text center"> Our Basic Web Packages</h5> 
        <!-- first card -->
        <div class="col s12 m4 i8">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="one-pager.png" alt="Broser Powerful website that is only a one page">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">One-Page Wonder<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action">
            <p>Starting at: </p>
            <p class="card-price purple-text">150$</p>
            </div> 
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">The One-Page Wonder<i class="material-icons right">close</i></span>
              <ul>
                <li>One Static Page</li>
                <li>Choose Your Platform</li>
                <li>Up to 5 Custom e-mails</li> 
                <li>SEO included</li>
                <li>1-Hour free Face-to-Face training(If CMS platform is chosen)</li>
              </ul>
            </div>
          </div>          
        </div>
        <!-- end first card -->

        <!-- second card -->
        <div class="col s12 m4 i8">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="starter.png" alt="silicon bat airbaloon graphic">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">The Perfect Starter<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action">
            <p>Starting at: </p>
            <p class="card-price purple-text">400$</p>
            </div> 
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">The Perfect Starter<i class="material-icons right">close</i></span>
              <ul>
                <li>2-5 Static Pages</li>
                <li>1 Free Custom Web Graphic</li> 
                <li>Content SEO</li>
                <li>Up to 10 Custom e-mails</li>
                <li>Content Management System (optional)</li>
                <li>1-Hour free Face-to-Face training(If CMS platform is chosen)</li>
              </ul>
            </div>
          </div>          
        </div>
        <!-- end second card -->
        <!-- third card -->
        <div class="col s12 m4 i8">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="premium.png" alt="Silicon bat rocket" >
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">The Big & Bad<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action">
            <p>Starting at: </p>
            <p class="card-price purple-text">700$</p>
            </div> 
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">The Big & Bad<i class="material-icons right">close</i></span>
              <ul>
                <li>6-12 Static Pages</li>
                <li>Free Domain for the 1st Year</li>
                <li>2 Free Custom Web web-graphics</li> 
                <li>Up to 10 Custom e-mails</li>
                <li>Content SEO</li>
                <li>Content Management System (optional)</li>
                <li>1-Hour free Face-to-Face training(If CMS platform is chosen)</li>
              </ul>
            </div>
          </div>          
        </div>
        <!-- end thing card -->
      </div>   
    </div>
      <div class="pricing-more-info dark-purple center">
          <h5 class="pricing-subheader white-text center">Need Something You Don't See?</h5>
          <p class="center white-text container">Contact us to receive a free quote for other packages, personalized unique packages, or large scale web applications. For all E-Commerce website, and additional cost will be applied.</p>
          <a href="/contacts/new" id="download-button" class="btn-large waves-effect waves-light salmon lighten-1">Contact Us</a>
      </div>
<!-- end of row -->

<!-- row begins -->
    <div class="services cyan row"> 
      <div class="container">
        <h5 class="pricing-header white-text center">Graphics & Marketing</h5> 
        <!-- first card -->
        <div class="col s12 m4 i8">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="web-graphics.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Web Graphics<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action">
            <p>Starting at: </p>
            <p class="card-price purple-text">30$</p>
            </div> 
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Offering:<i class="material-icons right">close</i></span>
              <ul>
                <li>Logos</li>
                <li>Banners</li> 
                <li>Fitter Social Media Graphics</li>
                <li>Custom Gifs</li>
                <li>Custom Icons</li>
                <li>etc.</li>
              </ul>
            </div>
          </div>          
        </div>
        <!-- end first card -->

        <!-- second card -->
        <div class="col s12 m4 i8">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="prints-prices.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Custom Prints<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action">
            <p>Starting at: </p>
            <p class="card-price purple-text">30$</p>
            </div> 
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Offering:<i class="material-icons right">close</i></span>
              <ul>
                <li>Business Cards</li>
                <li>Banner</li> 
                <li>Pamphlets</li>
                <li>Booklets</li>
                <li>etc.</li>
              </ul>
            </div>
          </div>          
        </div>
        <!-- end second card -->
        <!-- third card -->
        <div class="col s12 m4 i8">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="seo-price.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">SEO<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action">
            <p>Starting at: </p>
            <p class="card-price purple-text">30$</p>
            </div> 
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Offering:<i class="material-icons right">close</i></span>
              <ul>
                <li>Full Content Optimization</li>
                <li>Image Optimization</li> 
                <li>Code Optimization</li>
                <li>Website SEO Audit</li>
                <li>Link Development</li>
              </ul>
            </div>
          </div>          
        </div>
        <!-- end thing card -->
      </div>   
    </div>
<!-- end of row -->


<!-- row begins -->
    <div class="services mint row"> 
      <div class="container">
        <h5 class="pricing-header white-text center">Continuing Costs</h5> 
        <!-- first card -->
        <div class="col s12 m4 i8">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="domain-icon.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Domain Name<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action">
            <p>Starting at: </p>
            <p class="card-price purple-text">10$/year</p>
            </div> 
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Domain Name<i class="material-icons right">close</i></span>
              <ul>
                <li>Custom Domain Name of Your Choice</li>
                <li>Subdomain Supported</li> 
                <li>Pick Your Extensions (.com, .org, .net, etc.)</li>
              </ul>
            </div>
          </div>          
        </div>
        <!-- end first card -->
        <!-- fsecond card -->
        <div class="col s12 m4 i8">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="server-vector.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Web Hosting<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action">
            <p>Starting at: </p>
            <p class="card-price purple-text">10$/month</p>
            </div> 
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Web Hosting<i class="material-icons right">close</i></span>
              <ul>
                <li>99.9% Uptime</li>
                <li>24/7 Support</li> 
                <li>Unlimited Banwidth</li>
                <li>Database Support</li>
                <li>Custom E-Mail With Your Domain Name</li>
              </ul>
            </div>
          </div>          
        </div>
        <!-- end second card -->

        <!-- third card -->
        <div class="col s12 m4 i8">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="maintain.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Maintenance<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action">
            <p>Starting at: </p>
            <p class="card-price purple-text"><a href="/contacts/new">let's talk</a></p>
            </div> 
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Web Maintenance<i class="material-icons right">close</i></span>
              <ul>
                <li>Update Content</li>
                <li>Create New Pages</li> 
                <li>Change Graphics</li>
                <li>Maintain Plugins</li>
                <li>etc.</li>
              </ul>
              <p> Pay by hour or subscribe to monthly maintaince for a fraction of the cost.</p>
            </div>
          </div>          
        </div>
        <!-- end thing card -->
      </div>   
    </div>
     <div class="pricing-more-info mint center">
          <h5 class="pricing-subheader white-text center">Don't Like Dedication?</h5>
          <p class="center white-text">Contact us to find out how you can avoid monthly payments for hosting with our free hosting option. </p>
      </div>
<!-- end of row -->






<!--contact and web planner links-->
    <div class="services white row"> 
       <div class="container services-margin center">
        <div class="col m6 s12">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">build</i></h2>
            <h5 class="center">Ready To Start?</h5>
            <p class="light">Click the link below to tell us exactly what you are looking for.</p>
          </div>
          <div class="row center">
            <a href="/contacts/new" id="download-button" class="btn-large waves-effect waves-light salmon lighten-1">Start Now</a>
          </div>
        </div>

        <div class="col m6 s12">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">contact_mail</i></h2>
            <h5 class="center">Get The Best Deals</h5>

            <p class="light">Subscrice to our newletter to receive the best deals and special offers.</p>
          </div>
          <div class="row center">
            <a href="http://eepurl.com/b8e4fr" id="download-button" class="btn-large waves-effect waves-light salmon lighten-1">Sign Up</a>
          </div>
        </div>
       </div>   
    </div>
