  <div class="services dark-purple row"> 
       <div class="container services-margin center">
          <h5 class="services-header white-text"> What We Offer</h5> 
        <div class="services-img col s12 m6">
          <img src="design.png">
        </div>
        <div class="services-text col s12 m6 white-text">
          <h5 class="white-text">Branding & Graphic Design</h5>
          <p class="white-text">From simple prints, to creating all new original graphics for your business. Whether you’d like us to recreate your existing logo, or design a brand new one. We got you. Silicon Bat offers all sorts of graphic design services that will ultimately capture attention, and help your brand grow. Some of many things that we offer are:</p>
          <ul>
            <li>Logos</li>
            <li>Business Cards</li>
            <li>Pamphlet</li>
            <li>Banners</li>
            <li>...and much more</li>
          </ul>
        </div>
       </div>   
    </div>

    <div class="services cyan row"> 
       <div class="container services-margin center">
        <div class="services-text col s12 m6 white-text">
          <h5 class="white-text">Web Design & Development</h5>
          <p class="white-text">Silicon Bat specializes in making beautiful, powerful, websites that tell a story. All of our applications are built with the most powerful techniques to deliver ultimate quality. Mobile friendliness is not an option anymore, we incorporate it from beginning, and we don’t charge extra for it. From our powerful “One Page Wonder” to complex Ruby applications, we build nothing less but the best for our customers.</p>
          <ul>
            <li>Custome HTML5 and CSS3 Websites</li>
            <li>Content Management System based</li>
            <li>E-Commerce</li>
            <li>Advanced Ruby on Rails Applications</li>
            <li>...and much more</li>
          </ul>
        </div>
        <div class="services-img col s12 m6">
          <img src="web-design.png">
        </div>
       </div>   
    </div>

    <div class="services mint row"> 
       <div class="container services-margin center">
        <div class="services-img col s12 m6">
          <img src="SEO.png">
        </div>
        <div class="services-text col s12 m6 white-text">
          <h5 class="white-text">Marketing</h5>
          <p class="white-text">Having a website is one thing, but if nobody knows it exists, it’s as no website. At Silicon Bat we make sure your website doesn’t go unnoticed. We offer full optimization of your content in order to get your site to the top of the search list. We know how major search engines work. Therefore, we know how to optimize your web appearance. </p>
          <ul>
            <li>Search Engine Optimization</li>
            <li>Image Optimization</li>
            <li>Pay Per Visit Ads</li>
            <li>Social Media Marketing</li>
            <li>Campaigns</li>
            <li>...and much more</li>
          </ul>
        </div>
       </div>   
    </div>


    <div class="services white row"> 
       <div class="container services-margin center">
        <div class="col s6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">build</i></h2>
            <h5 class="center">Ready To Start?</h5>
            <p class="light">Click the link below to tell us exactly what you're looking for.</p>
          </div>
          <div class="row center">
            <a href="start" id="download-button" class="btn-large waves-effect waves-light salmon lighten-1">Start Now</a>
          </div>
        </div>

        <div class="col s6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">question_answer</i></h2>
            <h5 class="center">Got a Question?</h5>

            <p class="light">Click below to contact us with any questions or concerns!</p>
          </div>
          <div class="row center">
            <a href="contact" id="download-button" class="btn-large waves-effect waves-light salmon lighten-1">Contact Us</a>
          </div>
        </div>
       </div>   
    </div>
