<div class="container center">
    <div class="thank-you col s12">
      <h5 class="pricing-header"> Thank You For Contacting Us!</h5>
      <p class="pricing-subheader"> We will be in touch with you soon.</p>
    </div>

   <div class="contact-links">
    <p>In the mean time</p>
    <h5 class="pricing-header"> Don't forget to: </h5>
    <p>Contact our prefessor,<a href="maito:antriksha.verma@rutgers.edu">Tavni Shah,</a> & tell her to hook us up with extra credit ;)</p>
   </div>
    </div>
</div>  
