<div class="container">
    <div class="col s12">
      <h1 id='contact_header'> Thank You For Contacting Us!</h1>
      <p id='thanks_para'> We will be in touch with you soon.</p>
    </div>
</div>  
