<div class="container center">
    <div class="thank-you col s12">
      <h5 class="pricing-header"> Thank You For Contacting Us!</h5>
      <p class="pricing-subheader"> We will be in touch with you soon.</p>
    </div>

   <div class="contact-links">
    <h5 class="pricing-header"> Don't forget to: </h5>
   </div>
       <div class="links-contact row">
    		<div class="link-connect col s12 m6 l3">
    			<a href="http://twitter.com/home?status=@siliconbat, hello there!" target="_blank"><i class="fa fa-twitter teal-text" aria-hidden="true"></i></a>
    			<p><a class="black-text" href="http://twitter.com/home?status=@siliconbat, hello there!">Tweet to us</a></p>
    		</div>	
    		<div class="link-connect col s12 m6 l3">
    			<a href="https://www.facebook.com/siliconbat/" target="_blank"><i class="fa fa-facebook teal-text" aria-hidden="true"></i>
     			<p class="black-text"> Like us on facebook</p></a>

    		</div>	
    		<div class="link-connect col s12 m6 l3">
    			<a href="http://eepurl.com/b8e4fr" target="_blank"><i class="fa fa-user-plus teal-text" aria-hidden="true"></i>
    			<p class="black-text">Subscribe to our newsletter</p></a>
    		</div>	
    		<div class="link-connect col s12 m6 l3">
    			<a href="https://plus.google.com/u/0/b/116183780075300827425/116183780075300827425/posts" target="_blank"><i class="fa fa-google-plus teal-text" aria-hidden="true"></i>
    			<p class="black-text">Review us on Google+</p></a>
    		</div>	
    </div>
</div>  
