  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <img class="gid-footer-logo" src="/gid logo white.png"></img>


        </div>
        <div class="col l6 s12">
          <p class="grey-text text-lighten-4">We are a team of Rutgers college students working on this project like it's our full time job. With this project we are hoping to provide you guys with an simple way of listing thinks you would like to complete in order to help you stay organized!</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <strong><a href="/about" style="color:white;">Get-It-Done</a></strong>
      </div>
    </div>
  </footer>