<footer class="page-footer salmon">
    <div class="container">
      <div class="footer-links center">
        <h5 class="white-text"> Connect With Us!</h5>
          <a href="https://twitter.com/siliconbat" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/silicon_bat/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/siliconbat/" target="_blank"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
          <a href="https://plus.google.com/u/0/b/116183780075300827425/116183780075300827425/posts" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      </div>
      <div class="footer-connect center">
        <a href="tel:856-503-8605"><h5 class="white-text">+1 (856)503-8605</h5></a>
        <h5 class="white-text"> | </h5>
        <a href="mailto:siliconbat@gmail.com"><h5 class="white-text">siliconbat@gmail.com</h5></a>
      </div> 
      <!--div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div-->
    </div>
    <div class="footer-copyright">
      <div class="container center  ">
        <p>Copyright belongs to Silicon Bat&copy; All Rights Reserved.</p>
      </div>
    </div>
  </footer>